<div class="row maps">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <ui-gmap-google-map bounds="map.bounds" center="map.center" draggable="true" options="options" zoom="map.zoom">
      <ui-gmap-markers coords="'self'" icon="'icon'" models="maps" events="events">
      </ui-gmap-markers>
      <ui-gmap-marker idKey="0" coords="coords" icon="icon" options="opts">
      </ui-gmap-marker>
      <ui-gmap-polygons editable="false" fill="map.getPolyFill" events="map.polyEvents" fit="false" geodesic="true" models="polys" ng-cloak="" path='"geometry"' static="true" stroke="{ color: '#2c8aa7', weight: 3, opacity: '1.0' }" visible="true" clickable="true">
      </ui-gmap-polygons>
      <ui-gmap-markers coords="'self'" options="'options'" icon="'icon'" models="polys">
      </ui-gmap-markers>
    </ui-gmap-google-map>
    <div class="details">
      <h5>{{selected.title}}</h5>
      <div>
        <img src="img/loading_details.gif" ng-show="show" class="loading"></img>
        <img src="{{selected.url_m}}" alt="" ng-show="!show" imgonload="img_load()">
      </div>
      <div class="selected-info">
        <p><b>{{selected.title}}</b></p>
        <p><b>Owner:</b></p>
        <p><b>User Name:</b></p>
        <p><b>User Id:</b></p>
        <p> {{selected.latitude}} {{selected.longitude}}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="photos-list">
      <div ng-click='selectPhoto(photo)' ng-repeat='photo in maps' class="tile">
        <div class="tile-images">
          <img ng-src='{{selected == photo && icon || photo.icon}}' class="icon" />
          <img ng-src='{{photo.url}}' class="photo" />
        </div>
        <div class="content">
          <div><b>{{photo.title}}</b></div>
          <div>{{photo.objectType | lowercase | capitalize}}</div>
          <div>{{photo.latitude}} {{photo.longitude}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
