<div class="panel panel-default" id="navbar" ng-controller="navCtrl">
    <div class="panel-body">
        <p class="tabset-heading">Map tools:</p>
        <tabset type="pills">
            <tab heading="Map">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="map">Map</label>
                        <select class="form-control input-sm" ng-change="goMap(mapId);overlay.show='false'" ng-model="mapId" ng-options="obj.id as obj.name for obj in mapList">
                        </select>
                    </div>
                    <div class="form-group" ng-show="features.length > 0">
                        <label for="overlays">Overlays</label>
                        <select class="form-control input-sm" ng-change="goFeature(feature)" ng-model="feature" ng-options="obj.id as obj.name for obj in features">
                        </select>
                        <div class="radio">
                            <label><input name="show" ng-model="overlay.show" type="radio" ng-change="overlayShow(overlay.show)" value="true"/> On</label>
                        </div>
                        <div class="radio">
                            <label><input name="show" ng-model="overlay.show" type="radio" ng-change="overlayShow(overlay.show)" value="false"/> Off</label>
                        </div>
                    </div>
                </form>
            </tab>
            <span class="separator">|</span>
            <tab heading="Add Markers">
                <div class="container">
                    <form class="form-inline" name="form" role="form">
                        <div class="form-group">
                            <label>Maker Name</label>
                            <input class="form-control" type="text" value=""/>
                        </div>
                        <div class="form-group">
                            <label>Latitude</label>
                            <input class="form-control" type="text" value=""/>
                        </div>
                        <div class="form-group">
                            <label>Longitude</label>
                            <input class="form-control" type="text" value=""/>
                        </div>
                        <div class="form-group">
                            <label>Marker Type</label>
                            <div class="radio">
                                <label><input checked="checked" name="markertype" ng-model="markertype" type="radio"/> Monument</label>
                            </div>
                            <div class="radio">
                                <label><input name="markertype" ng-model="markertype" type="radio" value="false"/> Off</label>
                            </div>
                        </div>
                    </form>
                </div>
            </tab>
            <span class="separator">|</span>
            <tab heading="Attraction Search">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="left" valign="top" width="41%">
                            <div>
                                <div style="margin-top:5px;margin-bottom:10px;">
                                    <span class="labelvalue">Search Type:</span>
                                    <select class="boxformwh" id="seachType" name="seachType">
                                        <option selected="selected" value="Radius">Radius</option>
                                        <option value="Bounding_Box">Bounding Box</option>
                                    </select>
                                </div>
                                <div id="RadiusSearch">
                                    <div>
                                        <span class="labelvalue" style="margin-right:5px;">Latitude</span>
                                        <input id="WikipediaSearch_Latitude" name="WikipediaSearch.Latitude" type="text"/>
                                        <span class="labelvalue" style="margin-right: 5px;">Longitude</span>
                                        <input id="WikipediaSearch_Longitude" name="WikipediaSearch.Longitude" type="text"/>
                                    </div>
                                    <div style="margin-top:5px;">
                                        <span class="labelvalue" style="margin-right:5px;">Radius</span>
                                        <select class="boxformwh" id="WikipediaSearch_Radius" name="WikipediaSearch.Radius">
                                            <option selected="selected" value="500">500m</option>
                                            <option value="1000">1Km</option>
                                            <option value="2000">2Km</option>
                                            <option value="5000">5Km</option>
                                            <option value="10000">10Km</option>
                                        </select>
                                        <span style="margin-right:2px;margin-left:15px;">Display Circle:</span>
                                        <input checked="checked" id="display_on" name="display_circle" type="radio"/>
                                        On
                                        <input id="display_off" name="display_circle" type="radio"/>
                                        Off
                                    </div>
                                </div>
                                <div id="BoundingBoxSearch" style="display:none;">
                                    <div style="margin-bottom:3px;">
                                        <span class="labelname">South West</span>
                                    </div>
                                    <div>
                                        <span class="labelvalue" style="margin-right: 5px;">Latitude</span>
                                        <input id="SouthWest_Latitude" name="SouthWest_Latitude" type="text"/>
                                        <span class="labelvalue" style="margin-right: 5px;">Longitude</span>
                                        <input id="SouthWest_Longitude" name="SouthWest_Longitude" type="text"/>
                                    </div>
                                    <div style="margin-top:3px;margin-bottom:3px;">
                                        <span class="labelname">North East</span>
                                    </div>
                                    <div>
                                        <span class="labelvalue" style="margin-right: 5px;">Latitude</span>
                                        <input id="NorthEast_Latitude" name="NorthEast_Latitude" type="text"/>
                                        <span class="labelvalue" style="margin-right: 5px;">Longitude</span>
                                        <input id="NorthEast_Longitude" name="NorthEast_Longitude" type="text"/>
                                    </div>
                                </div>
                                <div style="margin-top:10px;margin-bottom:10px;">
                                    <span style="margin-left:5px;"><input id="wikipedialookup" name="wikipedialookup" type="submit" value="Search"/></span>
                                    <span style="margin-left:5px;"><input id="wikipediaclearup" name="wikipediaclearup" type="submit" value="Clear"/></span>
                                </div>
                            </div>
                        </td>
                        <td align="left" valign="top" width="56%">
                            <table border="0" cellpadding="0" cellspacing="0" id="wikiResults" width="100%">
                            </table>
                        </td>
                    </tr>
                </table>
            </tab>
            <span class="separator">|</span>
            <tab heading="Monuments">
                <table class="table">
                    <tr>
                        <td>
                            Monuments
                        </td>
                    </tr>
                </table>
            </tab>
        </tabset>
    </div>
</div>