.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    #navbar {
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        margin: 15px 0;
        font-size: 11px;

        .panel-body {
            background: #eee;
            padding: 0 5px;

            .tabset-heading {
                float: left;
                font-weight: bold;
                padding: 3px 5px 3px 0;
            }

            .nav-pills > li > a {
                padding: 3px 5px;
            }

            .nav-pills > li.active > a,
            .nav-pills > li.active > a:hover,
            .nav-pills > li.active > a:focus {
                background: none;
                color: #23527c;
            }

            .separator {
                display: block;
                float: left;
                padding: 3px 0;
            }
        }

        .tab-content {
            margin-bottom: 10px;
        }
    }
}

.row.maps {
    background: #eee;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 0px;
}

#map_canvas {
    height: 100%;
    margin: 0px;
    position: relative;
    width: 100%;
}

.angular-google-map-container {
    border: 5px solid #d5d5d5;
    height: 600px;
    width: 100%;
}

.photos-list {
    height: 900px;
    margin-left: -10px;
    margin-right: -10px;
    overflow-y: auto;

    .tile {
        border: 2px solid #ccc;
        clear: both;
        cursor: pointer;
        font-size: 11px;
        margin-bottom: 4px;
        min-height: 95px;
        overflow: hidden;
        padding: 8px 0 8px 0;
        position: relative;
        vertical-align: top;

        img.photo {
            float: left;
            padding-left: 5px;
            width: 75px;
        }

        img.icon {
            float: left;
            width: 24px;
            padding-top: 15px;
            padding-left: 5px;
        }

        div.content {
            float: left;
            padding-left: 5px;

            &.tile-images {
                bottom: 8px;
                height: 75px;
                left: 5px;
                position: absolute;
                top: 8px;
                width: 110px;
            }

        }
    }

    .tile:hover {
        background-color: #fff;
    }
}

.sidebar {
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.details {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    font-size: 11px;
    height: 290px;
    margin-top: 15px;
    padding: 10px;
    padding-top: 0;
    width: 100%;
    
    div {
        float: left;

        &.selected-info {
            margin-left: 10px;
        }

        .color-red {
            color: red;
        }
    }

    h5 {
        font-weight: bold;
        font-size: 13px;
    }
    img.loading {
      margin-top: 50px;
      margin-left: 50px;
    }
}

.marker-labels {
    color: #fafafa;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
