<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<ui-gmap-google-map center="map.center" draggable="true" options="options" zoom="map.zoom">
			<ui-gmap-polygons editable="false" fill="map.getPolyFill" events="map.polyEvents" fit="false" geodesic="true" models="map.polys" ng-cloak="" path='"geometry"' static="true" stroke="{ color: '#2c8aa7', weight: 3, opacity: '1.0' }" visible="true" clickable="true">
			</ui-gmap-polygons>
			<ui-gmap-markers coords="'self'" options="'options'" icon="'icon'" models="map.polys" events="events">
			</ui-gmap-markers>
		</ui-gmap-google-map>
	</div>
</div>
